* {
  font-family: sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

p {
  margin: 10px 0;
}

.container {
  margin: none;
  background-color: #f1e3e3;
  height: 100%;
}
.header {
  min-height: 160px;
  max-height: 160px;
  background-color: rgb(46, 179, 86);
  color: white;
  padding: 20px;
  margin: auto auto;
}

.form-container {
  width: 1100px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -55px;
}

.form-header {
  text-align: center;
  text-transform: uppercase;

  color: rgb(46, 179, 86);

  padding: 5px;
  border-bottom: 1px solid rgb(46, 179, 86);
  border: 10%;
}

.form-body {
  border-top: 1px solid #3f3f3f;
  padding: 20px;
}

.input-box {
  margin: 0 0 20px 0;
}

.input-box input {
  border: none;
  border-bottom: 1px solid #a09a9a;
  width: 290px;
  padding: 10px 10px;
  display: block;
}

.radios {
  display: inline-flex;

  & input {
    height: 15px;
    margin-left: 0;
    width: 40px;
  }
}

.dates {
  margin-right: 20px;
  display: inline-flex;

  & input {
    margin-right: 20px;
    width: 150px;
  }
}

.required {
  color: red;
}

.title {
  margin-bottom: 10px;
}

.optionals {
  display: inline-flex;

  & input {
    position: relative;
    top: 15px;
    height: 11px;
  }
}

.submit-btn {
  color: white;
  background-color: rgb(46, 179, 86);
  border: none;

  width: 100px;
  height: 50px;
  transition: 0.5s;
  display: block;

  &:hover {
    color: rgb(46, 179, 86);
    border: 1px solid rgb(46, 179, 86);
    background-color: white;
  }
}
